<div class="ls-box ls-board-box">
  <header class="ls-info-header">
    <p class="ls-float-right ls-float-none-xs ls-small-info">Valido até <strong>01.05.2014</strong></p>
    <h2 class="ls-title-3">Consumo de envios</h2>
  </header>

  <div id="sending-stats" class="row ls-clearfix">
    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <div class="ls-box-head">
          <h6 class="ls-title-4">Contratado</h6>
        </div>
        <div class="ls-box-body">
          <span class="ls-board-data">
            <strong>1 <small>milhão</small></strong>
          </span>
        </div>
        <div class="ls-box-footer">
          <a href="#" class="ls-btn ls-btn-xs">Alterar plano</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <div class="ls-box-head">
          <h6 class="ls-title-4">Envios do plano</h6>
        </div>
        <div class="ls-box-body">
          <span class="ls-board-data">
            <strong>0 <small>de 1 milhão</small></strong>
          </span>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <div class="ls-box-head">
          <h6 class="ls-title-4">Envios Excedentes <a href="#" class="ls-ico-help" data-trigger="hover" data-ls-module="popover" data-placement="left" data-content="Isso permite que os envios não sejam interrompidos após atingir o limite do plano contratado." data-title="O uso de envios excedentes está ativado!" data-target="#ls-popover-1"></a></h6>
        </div>
        <div class="ls-box-body">
          <span class="ls-board-data ls-transparent-25">
            <strong>0 <small>de 1 milhão</small></strong>
          </span>
        </div>
        <div class="ls-box-footer">
          <a href="#" class="ls-btn ls-btn-xs">Ativar</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <div class="ls-box-head">
          <h6 class="ls-title-4 color-default">Total de envios utilizados</h6>
        </div>
        <div class="ls-box-body">
          <span class="ls-board-data">
            <strong class="ls-color-theme">81%</strong>
          </span>
        </div>
      </div>
    </div>
  </div>
  <br>
  <p class="ls-txt-right">Status anti-fraude: <strong class="ls-color-success">Aprovado</strong> <span style="clear: both;" class="ls-ico-help anti-fraud-pop" data-trigger="hover" data-ls-module="popover" data-placement="left" data-custom-classes="ls-width-300" data-title="Sua conta está &quot;Aprovada&quot;!" data-content="Status antifraude é uma verificação do comportamento de envio da conta." data-target="#ls-popover-2"></span></p>
</div>