<ion-view title="Acessar Rede IoT" id="IoTAccessNetWork-page" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <form id="IoTAccessNetWork-form" class="list ">
            <label class="item item-input ">
                <span class="input-label">Ip</span>
                <input type="text" placeholder="Digite o seu IP" ng-model="accessNetWork.ip">
            </label>
            <ion-toggle toggle-class="toggle-positive" id="acessarRedeIoT-toggle1" class=" " ng-model="accessNetWork.gps">Liberar GPS</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="acessarRedeIoT-toggle2" class=" " ng-disabled="true">Liberar Camera</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="acessarRedeIoT-toggle3" class=" " ng-disabled="true">Liberar Microfone</ion-toggle>
        </form>
        <button id="acessarRedeIoT-button1" style="font-style:italic;" class=" button button-positive  button-block icon-right ion-android-send " ng-click="sendAccessNW(accessNetWork)">Enviar Dados</button>
    </ion-content>
</ion-view>